.header {
    .MuiTabs-root {
        min-height: 0px;
        height: 100%;
    
        .MuiTabs-scroller {
            .MuiTabs-flexContainer {
                height: 100%;
            }
        }
    }
}