@import 'https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,500;1,100&display=swap';

.text-light {
    font-weight: 200;
}

.text-thin-italic {
    font-weight: 100;
    font-style: italic;
    font-size: 1.5rem;
}